<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <title>about | <%=title%></title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
   

    <div class="blogs content">
        <h2>all blogs</h2>

        <p>The month of October is Down Syndrome Awareness Month where we celebrate Down syndrome and let everyone know that individuals with Down syndrome have unique abilities and are capable of doing anything they set their minds to. To celebrate I’m sharing</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>